
<app-header backButton="/auth" title="Recover account"></app-header>
<ion-content>

<div class="d-flex-center">

  <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">

    <app-logo></app-logo>

    <p class="ion-text-center"> We will send you an email so you can reset your password</p>
    <!--  ============ EMAIL =============-->
      <app-customs-input
      autoComplete="email"
      icon="mail-outline"
      [control]="form.controls.email"
      type="email"
      label="Email"
      ></app-customs-input>

      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">The email is required</div>
        <div *ngIf="form.controls.email.errors?.['email']">Write a valid email</div>
      </div>


      <ion-button  expand="block" mode="ios" class="submit" [disabled]="form.invalid" type="submit" >
      Revover
      <ion-icon slot="end" name="arrow-forward"></ion-icon>

      </ion-button>



  </form>
</div>


</ion-content>
