
<app-header backButton="/auth" title="Sign Up"></app-header>
<ion-content>

<div class="d-flex-center">

  <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">

    <app-logo></app-logo>
      <!--  ============ NAME===============
        -->


      <app-customs-input
      autoComplete="name"
      icon="person-outline"
      [control]="form.controls.name"
      type="text"
      label="Name"
    > </app-customs-input>

      <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
        <div *ngIf="form.controls.name.errors?.['required']">The name is required</div>
        <div *ngIf="form.controls.name.errors?.['minLenght']">The name must be at least 4 characters</div>
      </div>

      <!--  ============ EMAIL==============-->

      <app-customs-input
      autoComplete="email"
      icon="mail-outline"
      [control]="form.controls.email"
      type="email"
      label="Email"
    > </app-customs-input>

      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">The email is required</div>
        <div *ngIf="form.controls.email.errors?.['email']">Write a valid email </div>
      </div>

      <!--  ============ PASSWORD =============-->

      <app-customs-input
      [control]="form.controls.password"
      icon="lock-closed-outline"
      type="password"
      label="Password"

      ></app-customs-input>

      <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
        <div *ngIf="form.controls.password.errors?.['required']">The password is required</div>
      </div>


      <ion-button  expand="block" mode="ios" class="submit" [disabled]="form.invalid" type="submit" >
        Register
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>



  </form>
</div>


</ion-content>
